<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
  <body>
      <section class="hero is-primary is-fullheight">
          <div class="hero-body">
              <div class="container">
                <div class="columns is-5-tablet is-4-desktop is-3-widescreen">
                    <div class="column">
                        <form class="box">
                            <div class="field has-text-centered">
                                <img src="images/logo.png" width="167">
                            </div>
                            <div class="field">
                                <label class="label">Email</label>
                                <div class="control has-icons-left">
                                    <input type="email" class="input" placeholder="e.g. hkakehas@cisco.com">
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </div>
                                <div class="control">
                                    <label class="label">No of Members</label>
                                    <div class="select">
                                        <select>
                                          <option>Select dropdow</option>
                                          <option>1</option>
                                          <option>2</option>
                                          <option>3</option>
                                          <option>4</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="control">
                                    <label class="label">Date</label>
                                    <div class="select">
                                        <select>
                                          
                                          <option>11-10-2040</option>
                                          
                                        </select>
                                      </div>
                                    </div>                                
                                
                            <div class="field">
                                <label class="label">Address Line 1</label>
                                <div class="control has-icons-left">
                                    <input type="adress" class="input" placeholder="e.g. RK Puram Sector 13, New Delhi">
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-pin"></i>
                                    </span>
                                </div>
                            
                            <div class="field">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Remember me
                                </label>
                            </div>
                            <div class="field">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    I accept the <strong><a href=https://www.termsandcondiitionssample.com/live.php?token=Jicp8qcLI8oKcNIfvFdIDVgy0XlGEAdN><I>Terms and Conditions</a></I></strong>
                                </label>
                            </div>
                            <div class="field">
                                <a href=http://127.0.0.1:8000/dashboard class="button is-success">
                                    Login
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
              </div>
          </div>
      </section>
  </body>
</html>